.card{
border-radius: 20px !important;
border: 1px solid  #B5B3B4 !important;
background-color: white;
width: 260px;
height: 398px;
}


  .card:hover{
   background-color: #166534 !important;
  }
  .card:hover .days{
   color: rgb(255, 255, 255) !important;
  }