.card{
border-radius: 20px !important;
border: 1px solid  #B5B3B4 !important;
width: 260px;
height: 398px;
}

.scale-animation {
   position: relative;
  top: -10px;
  transition: all 1.5s;
  }
  
