.MyplansBox{
    border-radius: 10px !important;
background: #FFF !important;
padding: 12px;
}
.MyplansBox1{
    border-radius: 10px !important;
background: #FFF !important;
padding: 12px;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: #0D973B !important;
    /* border-bottom:5px solid #0D973B !important; */
}
.css-1aquho2-MuiTabs-indicator{
    background-color: #0D973B !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    text-transform: capitalize !important;
    color: #62585D !important;
    font-size:20px !important ;
    font-weight:700 !important ;
}
.css-13xfq8m-MuiTabPanel-root{
    padding: 0px !important;
}
.css-heg063-MuiTabs-flexContainer{
    justify-content: space-between !important;
}
.MyPlansHeader{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}
.MyPlantitle{
    color: var(--greys-blue-grey-800, #445C6D) !important;

font-size: 13px !important;
font-style: normal;
font-weight: 600 !important;
line-height: 14.179px; /* 118.157% */
}
.MyPlansMiddleSectionTitle{
    color: #738391 !important;
font-family: Inter;
font-size: 14px !important;
font-style: normal;
font-weight: 400 !important;
line-height: 24px; /* 171.429% */
padding: 3px;
}
