.card{
  border-radius: 20px !important;
  border: 1px solid  #B5B3B4 !important;
  background-color: white;

  /* height: 378px; */
  }
  
  
    .card:hover{
     background-color: #166534 !important;
    }
    .card:hover .days{
     color: rgb(255, 255, 255) !important;
    }
    @media screen and (max-width:768px) {
      .card{
        height: auto !important;
      }
      
    }

.days {
  font-family: Inter !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
}
.p1 {
  color: #2c2126 !important;
  font-family: Inter !important;
  font-size: 14px !important;
  font-style: normal !important;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center;
  font-weight: 400 !important;
  line-height: normal !important;
}
.card:hover .p1 {
  color: white !important;
}
.card span svg {
  color: black !important;
}
.MarginLeft {
  margin-left: 10px;
}

.Amount1 {
  color: #000000;
  opacity: 0.9599999785423279;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card:hover .Amount1 {
  color: white !important;
}
.plan1 {
  color: #fff;
  opacity: 0.6800000071525574;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.6800000071525574;
  line-height: normal;
}
.plan {
  color: #2c2126;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.6800000071525574;
  line-height: normal;
}
.selectBtn {
  border-radius: 8px !important ;
  background: #dcfce7 !important;
  color: #16a34a !important;
  text-align: center !important;
  border: none !important;
  font-family: Inter !important;
  font-size: 14px !important;
  text-decoration: none !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal;
  padding: 10px 37px !important;
}

.card:hover .selectBtn {
  background: #16a34a !important;
  color: #ffffff !important;
}
.Homecard {
  padding: 48px 30.999px 25.87px 22.668px;
  border-radius: 16px;
  border: 1px solid #f1f1f6;
  height: 300px !important;
  background: #fff;
}
.Homecard:hover {
  padding: 48px 30.999px 25.87px 22.668px;
  border-radius: 16px;
  border: 1px solid #f1f1f6;
  height: 300px !important;
  background: #16a34a !important;
}
.miniSq {
  width: 54.13px !important;
  height: 54.13px !important;
  border-radius: 7.792px !important;
  background: rgba(22, 163, 74, 0.1) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Homecard:hover .miniSq {

  background: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: #191a15 !important;
  font-family: Inter !important;
  font-size: 28px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 30px !important ; /* 107.143% */
}
.Homecard:hover .title {
  color: #fff !important;
 /* 107.143% */
}
.description {
  color: #a6a6a6 !important;
  font-family: Inter !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 30px !important; /* 187.5% */
}
.Homecard:hover .description {
  color: #fff !important;
/* 187.5% */
}
.DoneIcon {
  color: black;
  font-size: 16px !important;
}

.card:hover span .DoneIcon {
  color: rgb(255, 255, 255) !important;
  font-size: 16px !important;
}
@media screen and (max-width:540px) {
  .selectBtn{
    width: 100% !important;
    padding: 12px 70px !important;
    font-size: 16px !important;
  }
  .miniSq{
    height: 44px !important;
    width: 44px !important;
  }
  .title{
    font-size: 24px !important;
  }
  .Homecard{
    padding: 28px 20px 29px 20px;
    height: auto !important;
  }
}