.header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding-top: 30px;
  position: relative;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10px auto;
  padding: 1rem;
}
.toggleBtn {
  display: none !important;
}
/* Responsive layout for even smaller screens (max-width: 600px) */

/* Links container styles */

.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  background-color: transparent !important;
  box-shadow: none !important;
}
.link:hover {
  color: #000 !important;
}
.link {
  margin-left: 20px;
  cursor: pointer !important;
  text-decoration: none;
  color: #888587;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.link:focus {
  color: #000;
}
.Links {
  display: flex;
  flex-wrap: wrap;
}
.logoPage {
  height: 27.115px;
}
.toggleHeader {
  display: none;
}
.Homebtn {
  color: #888587 !important;
  font-family: Inter;
  font-size: 16px !important;
  font-style: normal;
  padding: 10px 16px !important;
  font-weight: 500 !important;
  line-height: normal;
  text-transform: capitalize !important;
  border-radius: 10px !important;
}
.Homebtn1 {
  border-radius: 10px !important;
  background: #02a63a !important;
  color: #f8f8fa !important;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: transparent !important;
  box-shadow: none !important;
}

.MobileHeader{
display: none !important;
}
.mobileMenu a{
  margin-top: 20px !important;
}
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .Link1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center !important;
    margin-top: 19px !important;
  }
  .link {
    margin-top: 15px;
    font-size: 13px !important;
  }
  .Homebtn {
    margin-top: 18px !important;
  }
}

@media (max-width: 850px) {
  .Link1 {
    margin-top: 25px !important;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
}

@media (max-width: 899px) {
  .toggleHeader {
    
    width: 44px;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 44px;
    background-color: #fff;
  }
  .MobileHeader{
    position: absolute ;
    width: 319px;
    display: block !important;
  height: 394px;
  border-radius: 18px 0px 0px 18px;
  background: #FFF;
  top: 20px;
  right: 0px;
  
  }
  .Links{
    display: none !important;
  }
}
