body {
  padding: 0;
  margin: 0px;

  font-family: "Inter" !important;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
  font-family: "Inter" !important;

}
.css-1csgy0g-MuiFormControl-root{
  border: none !important;
}
.MainHeading {
  color: #09090b !important;
  font-family: Inter !important;
  font-size: 36px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 24px !important; /* 60% */
}
.MainSubHeading {
  color: #71717a !important;
  font-family: Inter !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 24px !important; /* 120% */
}
.centerClass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Label {
  color: #b5b3b4 !important;
  font-family: Inter !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 24px !important; /* 133.333% */
}
.Input {
  margin-top: 30px !important;
  padding: 5px 13px !important;
  gap: 10px !important;
  border-radius: 10px !important;
  border: 2px solid rgba(128, 249, 168, 0.5) !important ;
  background: rgba(128, 249, 168, 0.1) !important;
}
.InputPassword{
  margin-top: 25px !important;
  padding: 5px 13px !important;
  gap: 10px !important;
  border-radius: 10px !important;
  border: 2px solid #F0EDEE !important ;
  background: #F0EDEE!important;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root:before {
  border-bottom: none !important;
}
.Password {
  color: #00b23b !important;
  text-decoration: none !important;
  font-family: Inter !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 24px !important; /* 150% */
}
.Button {
  border-radius: 10px !important;
  background: var(--colors-green-500, #22c55e) !important;
  display: flex;
 text-transform: lowercase !important;
  text-decoration: none !important;

  padding: 12px !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: rgba(255, 255, 255, 1) !important;
  font-family: Inter !important;
  font-size: 18px !important;
  font-weight: 700 !important;
}
.PayButton {
  border-radius: 10px !important;
  background: var(--colors-green-500, #22c55e) !important;
  display: flex;
  width: 100%;

  padding: 4px 12px !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: rgba(255, 255, 255, 1) !important;
  font-family: Inter !important;
  font-size: 18px !important;
  font-weight: 700 !important;
}
.Logo {
  height: 30px;
}
.cardSubPageMainHeading {
  color: #4c4448 !important;

  font-family: Inter !important;
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
  opacity: 0.6800000071525574 !important;
}
.cardPageMainHeading {
  color: #4c4448 !important;

  font-family: Inter !important;
  font-size: 32px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
}
.borderbottom{
  text-decoration: none !important;
}
.css-1atkyoe-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: #acacac !important;
}
.css-19ckexn-MuiFormControl-root-MuiTextField-root {
  padding: 0px !important;
}
@media screen and (max-width: 414px) {
  .otp-field input {
    width: 20px !important;
    height: 27px !important;
  }
  .card {
    height: auto !important;
  }
}

.Generate {
  color: #9da3a1 !important;
  text-decoration: none !important;
}
Link {
  text-decoration: none !important;
  cursor: pointer !important;
}
.css-b231d-MuiInputBase-root-MuiInput-root:before {
  border-bottom: none !important;
}
.css-1vqdf4b-MuiInputBase-root-MuiInput-root:hover:not(
    .Mui-disabled,
    .Mui-error
  ):before {
  border-bottom: none !important;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8px !important;
}
.css-gavcxy-MuiInputBase-root-MuiInput-root:after {
  border-bottom: none !important;
}

.css-gavcxy-MuiInputBase-root-MuiInput-root:before {
  border-bottom: none !important;
}
.createMealBox {
  display: flex !important;
  position: relative !important;
}
.createMealBox1 {
  border-radius: 9.053px !important;
  border: 1.5px solid #b5b3b4 !important;
  background: #f8f8f8 !important;
  padding: 16px !important;
  min-height: 70px !important;
}
.generate {
  color: #FFff !important;
  font-family: "Inter" !important;
  font-size: 24px !important;
  font-style: "normal" !important;
  font-weight: 700 !important;
  padding: 15px 25px !important;
  border-radius: 9.053px;
background:  #22C55E !important;

  line-height: "21.728px" !important;
}
.FoodmatchSmallScreen{
  display: none;
}

.Accordins{
  border-radius: 14px !important;
border: 2px solid #166534 !important;
background:  #FFF !important;
/* padding: 20px 16px !important; */
box-shadow: 0px 6px 16px 0px rgba(22, 101, 52, 0.16) !important;
/* margin-top: px !important; */
}
.Accordins1{
  border-radius: 14px !important;
background:  #FFF !important;
box-shadow: 0px 5px 16px 0px rgba(8, 15, 52, 0.06) !important;
padding:2px 10px !important;
/* margin-top: 15px !important; */
}

@media (min-width: 1101px) {
  .IngRec{
    height: 600px !important;
  }
}
.Faqtitle{
  color: #170F49 !important;
font-family: Inter !important;
font-size: 20px !important;
font-style: normal !important;
font-weight: 600 !important;
line-height: 32px !important; /* 185% */
}
.FaqContent{
  color:  #6F6C90 !important;

  font-family: Inter !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 24px !important; /* 171.429% */
}
@media screen and (max-width: 540px) {
  .homebannerimg {
    height: 300px !important;
  }
  .homebanner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px !important;
   
  }
 .Faqtitle{
  font-size: 18px !important;
  line-height: 24px !important;
 }
  .homebannerimg1 {
    height: 200px !important;
  }
  .HomeSectionfour {
    display: flex !important;
    flex-direction: column-reverse !important;
    align-items: center !important;
    background-color: red !important;
  }
  .homeSectionTwoHeading1{
  font-size: 28px !important;
  }
  .leftSide{
    display: none;
  }
  .Logo{
 margin-top: 20px !important;
    height: 24px !important;

  }
  
 .smallScreenBox{
 
border-radius: 16px !important;
width: 90% !important;
padding: 0px 0px 60px 0px !important;
margin: 0px auto !important;
background: #FFF !important;
box-shadow: 0px 3.6213507652282715px 44.361541748046875px 0px rgba(74, 207, 119, 0.13) !important;
  }
  .MainHeading{
    font-size: 30px !important;
  }
  .MainSubHeading{
    font-size: 16px !important;
    
  }
  .css-ahj2mt-MuiTypography-root{
    font-size: 12px !important;
  }
  .Password{
    font-size: 14px !important;
  }
  .Label{
    font-size: 12px !important;
  }
  body{
    background-color: #FAFAFA;
    
  }
  .cardPageMainHeading{
    font-size: 24px !important;
    max-width: 300px !important;
  }
  .cardSubPageMainHeading{
    font-size: 18px !important;
  }
  .card{
    width: 70% !important;
  }
  .css-18eutzv-MuiGrid-root>.MuiGrid-item {
padding-left: 14px !important;
 
}

}

@media screen and (max-width: 630px) {
  .generate{
    font-size: 14px !important;
    padding: 8px 15px !important;
  }
  .homebannerimg2 {
    height: 135px;
  }
  .homebannerimg3 {
    height: 300px;
  }
  .meal {
    height: 240px !important;
  }
  .Homecard{
    height: auto !important;
  }
 .card  {
  margin-top: 15px !important;
  margin-bottom: 15px !important;

 }

}
.css-192up22{
  background-color: white !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
  transition: none !important;
}
.Label1{
  color: var(--neutral-0450, rgba(108, 114, 117, 0.50)) !important;

/* Base 2 */
font-family: Inter;
font-size: 14px !important;
font-style: normal;
font-weight: 500 !important;
line-height: 24px; /* 171.429% */
letter-spacing: -0.14px;
}
@media screen and (max-width:912px) {
.ToggleBtn {
  display: none!important;
}
.Label{
  font-size: 14px !important;
}
.InputPassword{
  margin-top: 0px !important;
  padding: 7px 10px !important;
}
.Label1{
  font-size: 12px !important;
  margin-left: 10px !important;
}
.MyplansBox1 ,.FoodMatch {
  display: none !important;
}
.FoodmatchSmallScreen{
  display: block !important;
}
.lock{
height: 14px !important;
width: 14px !important;
}
.css-1x51dt5-MuiInputBase-input-MuiInput-input{
  font-size: 12px !important;
}
.eye{
  height: 18px !important;
  width: 18px !important;
}
}
.Money{
  display: flex;
}
.BuyBtn{
  text-decoration: none !important;
}
.BuyBtn:hover div{
  background-color: #15803D !important;
}
.BuyBtn:hover div div .Money{
  color: #fff !important;
}
.BuyBtn:hover div  button{
  color: #fff !important;
  transition: none !important;
  background-color:  #22C55E !important;
}
button{
  transition: none !important;
}
.redheart{
  color: #EF4444 !important;
  font-size: 18px !important;
}
.miniSidebarText > div{
  cursor: pointer !important;
}
@media screen and (max-width:414px) {
  .card{
    width: 87% !important;
  }
  .PayButton{
    font-size: 16px !important;
    
  }
  
}