.Home{
    /* background: linear-gradient(180deg, #cce6e0 0%, rgba(220, 241, 236, 0.00) 100%) !important; */
    /* height: 100vh; */
    background-image: url('../../assest/home1bc.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.HomeSectionTwo{
    background-image: url('../../assest//home2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.HomeSectionThird{
    background-image: url('../../assest//home3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.HomeHeading{
    color: #191A15 !important;
font-family: Inter !important;
font-size: 56px !important;
font-style: normal;
font-weight: 600 !important;
line-height: 69.994px !important; /* 124.99% */
}
.spanHome{
    color: #191A15 !important;
font-family: Inter;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 69.994px;
}
.HomeSubHeading{
    color:  #4C4448 !important;
font-family: Inter !important;
font-size: 16px !important;
font-style: normal;
font-weight: 500 !important;
max-width: 468px;
line-height: 25.608px !important; /* 160.048% */
}
.Homebtn1{
    color:  #16A34A !important;
font-family: Inter !important;
font-size: 15.365px !important;
font-style: normal !important;
font-weight: 500 !important;
line-height: normal !important;
border-radius: 34.143px !important;
border: 1.707px solid  #16A34A !important;
padding: 14.072px 39.265px !important; 
}
.Homebtn1:focus{
    color:  #f3f3f3 !important;
font-family: Inter !important;
font-size: 15.365px !important;
font-style: normal !important;
font-weight: 500 !important;
line-height: normal !important;
border-radius: 34.143px !important;
border: 1.707px solid  #16A34A !important;
padding: 14.072px 39.265px !important; 

background:  #16A34A !important;
}
.line{
    width: 64%;
}
.homeSectionTwoHeading{
    color: #191A15 !important;
    max-width: 550px !important;
text-align: center !important ;
font-family: Inter !important;
font-size: 50px !important;
font-style: normal !important;
font-weight: 600 !important;
line-height: normal !important;
}
.sectionTwoHeading{
    color: #191A15 !important;
font-family: Inter !important;
font-size: 36px !important;
font-style: normal !important;
font-weight: 500 !important;
line-height: 54.916px  !important; /* 152.544% */
}
.spanHome1{
    color: #191A15;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 54.916px; /* 152.544% */
}
.HomeSectionFourth{
    background-image: url('../../assest//home4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sectionfourHeading{
    color: #191A15 !important;
font-family: Inter !important;
font-size: 40px !important;
font-style: normal !important;
font-weight: 600 !important;
line-height: 60.909px !important; /* 152.273% */
}